<div id='outer_developers'>
    <div class='col-lg-3 mt-5' *ngFor='let person of persons' >
        <img src="{{person.img_path}}" id="image" /> 
        <p id="text">{{person.name}} {{person.surname}}</p> 
        <p id="text">{{person.title}}</p> 
        <a href="#{{person.hrefs[0]}}"><i class="{{developers_logos[0]}}"></i></a>
        <a href="#{{person.hrefs[1]}}"><i class="{{developers_logos[1]}}"></i></a> 
        <a href="#{{person.hrefs[2]}}"><i class="{{developers_logos[2]}}"></i></a> 
    </div>
</div>  
