<div>
    <nav>
        <div class="wrapper">
          <div class="logo"><a href="#">AI Fitness Assistant</a></div>
          <img class="titlelogo" src="../../../assets/upperbarlogo.svg">
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <div>
            <ul class="nav-links" *ngFor='let comp_name of nav_component_names'>
                <!-- <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label> -->
                <li><a href="#">{{comp_name}}</a></li>
            </ul>
          </div>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
    </nav>  
</div>
