
<div class="container">
    <br><br><br>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-12 col-lg-5 pr-0">
                        <div class="carouselImg">
                            <div class="imgOut">
                                <div class="imgimg"  style="background: url('iphone2.png') no-repeat center;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 pl-0">
                        <div class="carouselText">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>BECOME A PIONEER OF REVOLUTIONARY AI TECHNOLOGY</h5>
                                <p>This app provides you some workouts and practice safe.</p>
                                <p>Stay hit from the comfort of your home</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-12 col-lg-5 pr-0">
                        <div class="carouselImg">
                            <div class="imgOut">
                                <div class="imgimg"  style="background: url('İPHONEApp.PNG') no-repeat center;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 pl-0">
                        <div class="carouselText">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Get a real time feedback of your workout via mobile application.</h5>
                                <p>During an exercise, an AI Fitness Asisstant can detect incorrect posture</p>
                                <p>App uses artificial intelligence to develop personalized training programs for each user.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="column">
                        <img class="imgimg" src="appLook1.png" alt="Snow" style="width:100%">
                      </div>
                      <div class="column">
                        <img class="imgimg" src="appLook2.png" alt="Forest" style="width:100%">
                      </div>
                      <div class="column">
                        <img class="imgimg" src="appLook3.png" alt="Mountains" style="width:100%">
                      </div>
                    
                </div>
            </div>
        </div>    
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    
    </div>
</div>